.tzSelect{

	/* This is the container of the new select element */

	height:34px;
	display:inline-block;
	min-width:200px;
	position:relative;

	/* Preloading the background image for the dropdown */
	background:url("http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/dropdown_slice.png") no-repeat -99999px;
}

.tzSelect .selectBox{
	position:absolute;

	height:100%;
	width:100%;

	/* Font settings */

	font:13px/34px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-shadow:1px 1px 0 #EEEEEE;
	color:#666666;

	/* Using CSS3 multiple backgrounds and a fallback */

	background:url('http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/select_slice.png') repeat-x #ddd;
	background-image:url('http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/select_slice.png'),url('http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/select_slice.png'),url('http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/select_slice.png'),url('http://demo.tutorialzine.com/2010/11/better-select-jquery-css3/img/select_slice.png');
	background-position:0 -136px, right -204px, 50% -68px, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;

	cursor:pointer;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.tzSelect .selectBox:hover,
.tzSelect .selectBox.expanded{
	background-position:0 -170px, right -238px, 50% -102px, 0 -34px;
	color:#2c5667;
	text-shadow:1px 1px 0 #9bc2d0;
}
