.has-an-explanation {
    word-wrap: break-word;
    display:inline-block;
}
.category {
}
.sentence {
    font-style: italic;
}
.media-name {

}
.media-link {

}
h3 {
    word-wrap: break-word;
}
.candidatesBasicInformation {
    column-count:3;
    column-gap:22px;
}



header h2{}

.profileImg{
	float: left;
    height: 200px;
    overflow: hidden;
    width: 160px;
}
.personalInfo{}
span.profile-description{}
.enlacesPersonales{}
.twitter{}
.facebook{}


.trayectoriaYPosiciones{}

.trayectoria{}

.brdotted{}

.trayectoriaYPosiciones span.profile-description{}