.has-an-explanation {
    word-wrap: break-word;
    display:inline-block;
}
.category {
}
.sentence {
    font-style: italic;
}
.media-name {

}
.media-link {

}
h3 {
    word-wrap: break-word;
}
.candidatesBasicInformation {
    column-count:3;
    column-gap:22px;
}